.addToCartBtn {
    // width: 105px;
    padding: 8px 14px;
    // height: 30px;
    background: #292A33;
    border: 1px solid #292A33;


    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #FFFFFF;
    transition: all 0.3s;

    &:hover {
        background-color: #FFFFFF;
        color: #292A33;
    }

    &:active {
        background: #292A33;
        color: #FFFFFF;
    }

    @media (max-width: 767px) {
        padding: 6px 12px;
        font-size: 12px;
        line-height: 12px;
    }
}