@import '../../constants/variables.scss';

.firstAnyStyle {
  margin-bottom: 90px;

  img {
    width: 870px;

    @media (max-width: 767px) {
      height: 200px;
    }
  }

  &_wrap {
    display: flex;
    overflow-x: hidden;
    border: 1px solid #333333;
  }

  &_textWrap {
    padding: 40px;
    border-right: 1px solid #333333;

    @media (max-width: 767px) {
      padding: 20px;
    }
  }

  &_title {
    @extend %h2;
    margin-bottom: 10px;
  }

  &_description {
    @extend %body_text;
    margin-bottom: 32px;
  }
}
