@import '../../constants/variables.scss';

.modal {
    background: #fff;
    max-width: 1040px;
    position: relative;
  
    &_overlay {
        width: 100vw;
        height: 100vh;
        padding: 0 15px;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_close_btn {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 5;

        font-family: 'Josefin Sans';
        font-weight: 400;
        font-size: 22px;
        line-height: 22px;
        letter-spacing: 0.05em;
        opacity: 0.3;
    }
}