@keyframes opening_over {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes closing_over {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes opening_modal {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes closing_modal {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.modal {
  background: #fff;
  max-width: 1040px;
  position: relative;

  animation-name: opening_modal;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;

  &-closing {
    animation-name: closing_modal;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  &_overlay {
    width: 100vw;
    height: 100vh;
    padding: 0 15px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: opening_over;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;

    &-closing {
      animation-name: closing_over;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
    }
  }

  &_close_btn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5;
    width: 30px;
  }
}
