@import '../../../../variables.scss';

.cart {
    margin-bottom: 60px;
    
    &_title {
        @extend %h1;
        text-align: center;
        margin: 30px 50px;
    }

    &_wrapper {
        border: 1px solid $grey;
    }

    &_header {
        display: flex;
        gap: 140px;
        padding: 16px 25px;
        border-bottom: 1px solid $grey;
        

        &_wrap {
            width: 40%;
            display: flex;
            justify-content: space-between;
        }

        &_title {
            @extend %menu_text;

            &-main {
                width: 60%;
                text-align: center;
            }
        }
    }

    &_empty {
        text-align: center;
        padding: 30.5px 0;
        @extend %h3;
    }

    &_item {
        padding: 6px 25px;
        display: flex;
        align-items: center;
        gap: 140px;

        &_contentWrap {
            width: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &_btn {
            width: 14px;
            height: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &_title {
            @extend %h3;
        }

        &_priceWrap {
            width: 40%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &_inpLabel {
            display: flex;
            align-items: center;
            gap: 10px; 
            @extend %price;
        }

        &_inp {
            width: 30px;
            height: 30px;
            border: 1px solid rgba(0, 0, 0, 0.3);

            @extend %menu_text;
            text-align: center;

            &:focus {
                outline: none;
                border: 1px solid rgba(0, 0, 0, 0.8);
            }
        }

        &_price {
            @extend %price;
        }
    }

    &_footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 25px;
        border-top: 1px solid $grey;

        &_form {
            display: flex;

            &_inp {
                padding-left: 15px;
                border-width: 1px 0px 1px 1px;
                border-style: solid;
                border-color: #292A33;

                @extend %menu_text;

                &:focus {
                    outline: none;
                }
            }
            

            &_btn {
                padding: 8px 14px;
                width: 140px;
                height: 30px;
                background: $black;
                border: 1px solid transparent;
            
                @extend %small_btn_text;
                color: #FFFFFF;
                transition: all 0.3s;
            
                &:hover {
                    background-color: #FFFFFF;
                    border: 1px solid $black;
                    color: $black;
                }
            
                &:active {
                    background: $black;
                    color: #FFFFFF;
                    border: 1px solid transparent;
                }
            }
        }

        &_btn {
            padding: 8px 14px;
            height: 30px;
            background: $black;
            opacity: 0.5;
            border: 1px solid transparent;
        
            @extend %small_btn_text;
            color: #FFFFFF;
            transition: all 0.3s;
        
            &:hover {
                background-color: #FFFFFF;
                border: 1px solid $black;
                color: $black;
            }
        
            &:active {
                background: $black;
                color: #FFFFFF;
                border: 1px solid transparent;
            }
        }
    }
}