.hero {
    margin-bottom: 91px;

    &_item {
        display: flex;
        align-items: center;
    }

    &_subtitle {
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0.05em;
        text-transform: lowercase;
        color: #7F7F7F;
    }

    &_title {
        font-family: 'Cormorant Garamond';
        font-weight: 400;
        font-size: 42px;
        line-height: 130%;
        letter-spacing: 0.07em;
        text-transform: capitalize;
        color: #292A33;
        margin-bottom: 20px;
    }

    &_description {
        font-weight: 300;
        font-size: 22px;
        line-height: 160%;
        letter-spacing: 0.1em;
        color: #000000;
        margin-bottom: 35px;
    }

    &_btn {
        padding: 14px 28px;
        width: 178px;
        height: 46px;
        border: 1px solid #fff;
        background: #292A33;
        font-weight: 300;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #FFFFFF;
        transition: all 0.3s;

        &:hover {
            border: 1px solid #292A33;
            background: #fff;
            color: #292A33;
        }
    }
}