@import '../../../../../variables.scss';

.videoSection {
    margin-bottom: 90px;

    .container {
        position: relative;
    }

    &_title {
        width: 235px;
        position: absolute;
        top: 40px;
        right: 40px;

        @extend %h2;
        text-align: right;
        line-height: 160%;
        color: #fff;

    }

    &_btn {
        position: absolute;
        bottom: 40px;
        right: 40px;
    }
}