// @import '../../constants/variables';

.baner {
  margin-bottom: 90px;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 40px;

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  &_item {
    max-width: 560px;
    height: 560px;
    padding: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 767px) {
      margin: 0 auto;
      width: 90%;
    }
  }

  &_firstItem {
    background-image: url('https://res.cloudinary.com/drn4sj8ju/image/upload/v1744389798/Bruden/women_on_right_side_yknikm.png');
    background-position: top right;

    &_title {
      @extend %h2;
      color: #ffffff;
      margin-bottom: 10px;
      line-height: 160%;
    }
  }

  &_secondItem {
    background-image: url('https://res.cloudinary.com/drn4sj8ju/image/upload/v1744389789/Bruden/men_on_left_side_kprqb5.png');
    background-position: top left;
    align-items: flex-end;

    &_title {
      @extend %h2;
      line-height: 160%;
      text-align: right;
      color: #ffffff;
    }
  }
}
