// @import '../../constants/variables.scss';

.footer {
  padding: 25px 0 50px;
  border-top: 1px solid #7f7f7f;
  position: relative;

  &::after {
    display: block;
    width: 100%;
    height: 0;
    content: '';
    border-top: 1px solid #7f7f7f;
    position: absolute;
    top: 75px;
    left: 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;

    @media (max-width: 890px) {
      gap: 40px;
      flex-direction: column;
    }
  }

  &_list {
    display: flex;
    gap: 40px;

    @media (max-width: 1045px) {
      gap: 15px;
    }

    @media (max-width: 890px) {
      justify-content: center;
    }

    @media (max-width: 440px) {
      row-gap: 30px;
      flex-wrap: wrap;
    }
  }

  &_item {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 165px;

    @media (max-width: 767px) {
      gap: 16px;
    }
  }

  &_wrap {
    width: 230px;

    @media (max-width: 890px) {
      width: 100%;
    }
  }

  &_logo_wrap {
    margin-bottom: 40px;
  }

  &_link {
    @extend %sidebar_text;
    color: #292a33;

    &-inst {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 20px;
    }
  }

  &_text {
    @extend %sidebar_text;
    line-height: 160%;
    color: #292a33;
    text-transform: none;
  }

  &_title {
    margin-bottom: 40px;
    @extend %h3;
    color: #292a33;

    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }

  &_flag {
    display: inline-flex;
    width: 30px;
    height: 15px;

    &_stripe {
      width: calc(100% / 6);
      animation: wave 2s infinite ease-in-out alternate;

      &:nth-child(1) {
        animation-delay: 0s;
      }
      &:nth-child(2) {
        animation-delay: 0.2s;
      }
      &:nth-child(3) {
        animation-delay: 0.4s;
      }
      &:nth-child(4) {
        animation-delay: 0.6s;
      }
      &:nth-child(5) {
        animation-delay: 0.8s;
      }
      &:nth-child(6) {
        animation-delay: 1s;
      }
    }

    &_blue {
      height: 50%;
      background-color: #0057b8;
    }

    &_yellow {
      height: 50%;
      background-color: #fbd400;
    }
  }
}

@keyframes wave {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}
