.navigation {
    display: flex;
    gap: 40px;
}

.nav_link {
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #000;

    &-active {
        color: #DE1616;
    }
}